<html>

<head>
    <title>Home page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>Product Manager</h2>
        <a href="/add-product" class="btn btn-success float-right">Add Product</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product id</th>
                    <th>Product name</th>
                    <th>Product type</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <% products.forEach((entry) => { %>
                <tr ondblclick="handleUpdateProduct('<%= entry.id %>')">
                    <td>
                        <%= entry.id %>
                    </td>
                    <td>
                        <%= entry.name %>
                    </td>
                    <td>
                        <%= entry.type %>
                    </td>
                    <td>
                        <input class="btn btn-primary" type="button" value="Update" onclick="handleUpdateProduct('<%= entry.id %>')">
                    </td>
                </tr>
                <% }) %>
        </table>
        <script>
            function handleUpdateProduct(value) {
                $(location).attr('href', '/update-product/' + value);
            }
        </script>
    </div>
</body>

</html>