<head>
    <title>Update Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <a href="/">
            <h3>Home Page</h3>
        </a>
        <h2>Update Product</h2>
        <form action="/<%= product._id %> " method="POST">
            <div class="form-group">
                <label>Product ID</label>
                <input type="text" class="form-control" name="productId" value="<%= product._id %> " disabled>
            </div>
            <div class="form-group">
                <label>Product Name</label>
                <input type="text" class="form-control" name="productName" value="<%= product.name %> ">
            </div>
            <div class="form-group">
                <label>Product  Type</label>
                <input type="text" class="form-control" name="productType" value="<%= product.type %> ">
            </div>
            <input id="update-btn" class="btn btn-primary" type="submit" value="SAVE">
            <input id="update-btn" class="btn btn-secondary" type="button" value="DELETE" onclick="handleDeleteProduct('<%= product._id %>')">
        </form>
    </div>
    <script>
        function handleDeleteProduct(value) {
            $.ajax({
                url: '/' + value,
                type: 'DELETE',
                success: function(result) {
                    $(location).attr('href', '/');
                }
            })
        }
    </script>
</body>